{% assign background = page.background | default: site.background %}
<div class="background-container">
	{% for slide in background %}
	{% assign numberOfSlides = background | size %}
	<div class="background" style="
	animation-duration: {{ page.background_speed | default: site.background_speed | times:numberOfSlides}}s;
	animation-delay: {{ page.background_speed | default: site.background_speed | times:1000 | times:forloop.index0 }}ms;
	-webkit-animation-duration: {{ page.background_speed | default: site.background_speed | times:numberOfSlides}}s;
	-webkit-animation-delay: {{ page.background_speed | default: site.background_speed | times:1000 | times:forloop.index0 }}ms;
	">
		<div class="background-slide" style="background: url('{{ slide.image | relative_url }}');"></div>
		{% if slide.bright %}
		<div class="background-overlay-dark"></div>
		{% else %}
		<<div class="background-overlay-bright"></div>
		{% endif %}
	</div>
	{% endfor %}
</div>
