<div class="ie-warning">
	<div class="ie-transparent-overlay">
		<div class="ie-vertical-centerer">
			<div class="ie-message">
				<h1>Uh oh! Votre navigateur est obsolète</h1>
				<p>Il semblerait que le programme que vous utilisez pour accéder à ce site est <b>obsolète</b>. Pour accéder à ce site, un programme plus récents est requis.</p>
				<p>Il <b>N'EST ABSOLUMENT PAS RECOMMANDE</b> de continuer à utiliser ce programme, à cause des <b>potentiels risques de sécurité encourus</b>.</p>
				<p>De plus, en installant une version plus récente, vous bénéficierez d'un grand nombre de <b>nouvelles fonctionnalités</b> et la <b>compatibilité des sites internet</b> vous seras alors assurée.</p>
				<a href="http://browsehappy.com/">Cliquez ici pour apprendre les différentes alternatives de programmes modernes pour accéder à internet</a>
			</div>
		</div>
	</div>
</div>
