<div class="credits-container">
	{% for member in include.content %}
		<div class="member">
			<img src="{{ member.image | relative_url }}" class="game-image"/>
			<h2>{{ member.name | escape }}</h2>
			<p>{{ member.desc | escape }}</p>

			{% if member.button %}
			{% for button in member.button %}
			{% assign link = button.link | relative_url | default:button.url %}
			{% include button.html center=false small=true background=button.background link=link icon=button.icon %}
			{% endfor %}
			{% endif %}
		</div>
	{% endfor %}
</div>
