.games-container {
	letter-spacing: 10px;

	.game {
		background: #f5f5f5;
		text-align: left;
		color: #000;
		display: inline-block;
		max-width: 384px;
		width:100%;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		border-radius: 5px;
		margin: 10px 0;
		vertical-align: top;
		overflow: hidden;
		letter-spacing: normal;

		.game-image {
			width: 100%;
		}

		h2,
		p,
		a {
			display: inline-block;
			text-align: left;
			padding: 0 16px;
		}

		h2 {
			margin-top: 16px;
			margin-bottom: 10px;
			font-size: 24px;

			.game-badge {
				font-size: 10pt;
				background: #FF8F00;
				border-radius: 10px;
				vertical-align: top;
				padding: 2px 5px;
				margin: 5px;
				color: #fff;
				font-weight:normal;
				white-space: nowrap;
			}
		}

		p {
			margin-bottom: 10px;
			font-size: 14px;
			color: rgba(0,0,0,0.54);
		}

		a {
			margin: 8px;
			height: 36px;
			padding: 8px;
			text-decoration: none;
			color: #FFD700;
			border-radius: 2px;
			transition: all linear 0.1s;
			text-transform:uppercase;
			font-size: 14px;
			line-height: 20px;

			&:hover {
				background: rgba(255,193,7,0.12);
			}

			&:active {
				background: rgba(255,193,7,0.24);
			}
		}

		.progress-text {
			float: right;
		    margin-right: 5px;
		    margin-top: 20px;
		}

		.progress-bar {
			height: 5px;
			background: #FFE082;
			margin-top: -5px;

			.progress {
				height: 5px;
				background: #FFD700;
			}
		}
	}
}
