* {
	box-sizing: border-box;
}

::-moz-selection {
  background: #FFD700; /* Firefox */
  color: #fff;
}

::selection {
  background: #FFD700; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #FFD700; /* Gecko Browsers */
  color: #fff;
}

html, body {
	padding:0;
	margin:0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	color: #fff;
	background: #{$background};
}

a {
	color: #FFD700;
}

a:visited {
	color: #FF5722;
}

.button,
.small-button {
	display: inline-block;
	padding: 16px 20px;
	color: #fff !important;
	background-color:#FFC700;
	text-decoration: none;
	font-weight: bold;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	min-width: 88px;
	text-align: center;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	line-height: normal;
	margin: 0 5px;
	cursor: pointer;
	line-height: 14pt;
}

.button {
	&:hover {
		background: #FFCA28;
	}

	&:active {
		background: #FFD54F;
	}

	div {
		display: inline-block;
		vertical-align: middle;
	}

	.mdi {
		font-size: 28pt;
		vertical-align: middle;
	}
}

.small-button {
	padding: 7px 5px;
	margin: 2px;
	width: auto;
	box-shadow: none;
	min-width: auto;
	font-size: 18pt;
}

.dark-block {
	background: rgba(0,0,0,0.625);
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
}

.dark-page {
	background: rgba(0,0,0,0.625);
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content {
	padding: 10px;

	& > p,
	& > hr,
	& > ul,
	& > ol {
		width: 100%;
		max-width: 600px;
		margin: 1em auto;
		text-align: justify;
		line-height: 1.5em;
		font-size: 12pt;
		color: rgba(255,255,255,0.9);
	}

	strong {
		color: #fff;
	}

	h1 {
		font-size: 32pt;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		width: 100%;
		max-width: 600px;
		text-align: center;
		margin: 10px auto;
	}

	& > h2 {
		text-align: left;
		font-size: 16pt;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 1.5em auto 5px;
		width: 650px;

		&::after {
			content: "";
			display:block;
			height: 2px;
			width: 100%;
			max-width: 650px;
			background: #FFD700; /* Old browsers */
			background: -moz-linear-gradient(left, rgb(255,193,7) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgb(255,193,7) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgb(255,193,7) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD700', endColorstr='#000e0e0e',GradientType=1 ); /* IE6-9 */
		}
	}

	& > *:first-child {
		margin-top: 0;
	}

	& > ol {
		line-height: 1.25em;
		& > li > ul {
			padding-left: 20px;
		}

		& > li {
			list-style-type: none;
			margin: 5px 0;
		}
	}
}

.features-container,
.games-container,
.credits-container {
	width: 100%;
	max-width: 1500px;
	text-align: center;
	margin: auto;
}

.features-container {
	letter-spacing: 20px;

	.feature {
		height: 150px;
		background: #212121;
		line-height: 130px;
		display: inline-block;
		padding: 10px;
		padding-left: 120px;
		margin: 10px 0;
		text-align: left;
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		position: relative;
		max-width: 500px;
		width: 100%;
		letter-spacing: normal;
		overflow:hidden;

		div, h2, p {
			margin: 0;
			text-align: left;
			line-height: 1em;
		}

		div {
			display: inline-block;
			line-height: normal;
			vertical-align: middle;

			h2 {
				margin-bottom: 2px;
			}
		}

		.mdi {
			font-size: 72pt;
			vertical-align: middle;
			position: absolute;
			left:10px;
			width: 100px;
			text-align: center;
		}
	}
}
