
.credits-container .member {
	width: 200px;
	padding: 10px;
	background: #333;
	margin:10px;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 2px;

	img {
		width: 100%;
	}
}
